{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block content %}
<div class="border-b border-grey-lighter py-16 lg:py-20">
    <div>
        {% image page.author_image fill-150x150 class="h-150 w-150" %}
    </div>
    <h1 class="pt-3 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl">
        {{ page.title }}
    </h1>
    <p class="pt-3 font-body text-xl font-light text-primary dark:text-white">
      {{ page.summary }}
    </p>
    {% if page.cta_link %}
        <a href="{{ page.cta_link }}" class="mt-12 block bg-secondary px-10 py-4 text-center font-body text-xl font-semibold text-white transition-colors hover:bg-green sm:inline-block sm:text-left sm:text-2xl">
            {{ page.button_text }}
        </a>
    {% endif %}
</div>

<div class="border-b border-grey-lighter py-16 lg:py-20">
    <div class="flex items-center pb-6">
        <img src="{% static 'img/icon-story.png' %}" alt="icon story" />
        <h3 class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white">
            {{ page.my_story_title }}
        </h3>
    </div>
    <div>
        <p class="font-body font-light text-primary dark:text-white">
            {{ page.my_story_content|linebreaksbr }}
        </p>
    </div>
</div>

<div class="py-16 lg:py-20">
    <div class="flex items-center pb-6">
        <img src="{% static 'img/icon-post.png' %}" alt=""/>
        <h3 class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white">
            Blog posts
        </h3>
        <a href="{{ blog_index.url }}" class="flex items-center pl-10 font-body italic text-green transition-colors hover:text-secondary dark:text-green-light dark:hover:text-secondary">
            All posts
            <img src="{% static 'img/long-arrow-right.png' %}" class="ml-3" alt="arrow right"/>
        </a>
    </div>
    <div class="pt-8">
        {% for post in blog_posts %}
            {% include 'includes/blog_preview.html' with post=post %}
        {% endfor %}
    </div>
</div>

<div class="pb-16 lg:pb-20">
    <div class="flex items-center pb-6">
        <img src="{% static 'img/icon-project.png' %}" alt="icon story"/>
        <h3 class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white">
            Mes Projets
        </h3>
    </div>
</div>



    <div>
        <a href=" / " class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6">
            <span class="w-9/10 pr-8">
                <h4 class="font-body text-lg font-semibold text-primary dark:text-white">
                    {% for post in project_posts %}
                        {% include 'includes/project_preview.html' with post=post %}
                    {% endfor %}
                    Python
                </h4>
                <p class="font-body font-light text-primary dark:text-white">
                    Un projet en pattern MVC qui consiste à séparer la logique de l'application (Modèle), l'affichage (Vue), et le contrôle des interactions (Contrôleur) pour une architecture claire et modulaire.
                </p>
            </span>
            <span class="w-1/10">
                <img src="static/img/chevron-right.png" class="mx-auto" alt="chevron right"/>
            </span>
        </a>

        {% comment %} <a href=" / " class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6">
            <span class="w-9/10 pr-8">
                <h4 class="font-body text-lg font-semibold text-primary dark:text-white">
                    Django
                </h4>
                <p class="font-body font-light text-primary dark:text-white">
                    Django facilite la création d'applications web robustes en séparant les responsabilités de manière claire et modulaire.
                </p>
            </span>
            <span class="w-1/10">
                <img src="static/img/chevron-right.png" class="mx-auto" alt="chevron right" />
            </span>
        </a>

        <a href=" / " class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6">
            <span class="w-9/10 pr-8">
                <h4 class="font-body text-lg font-semibold text-primary dark:text-white">
                    Django REST framework
                </h4>
                <p class="font-body font-light text-primary dark:text-white">
                    Django REST Framework est une extension de Django permettant de créer des API RESTful facilement, en fournissant des outils pour la sérialisation des données, la gestion des permissions et des vues flexibles.
                </p>
            </span>
            <span class="w-1/10">
                <img src="static/img/chevron-right.png" class="mx-auto" alt="chevron right" />
            </span>
        </a>

        <a href=" / " class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6">
            <span class="w-9/10 pr-8">
                <h4 class="font-body text-lg font-semibold text-primary dark:text-white">
                    Wagtail
                </h4>
                <p class="font-body font-light text-primary dark:text-white">
                    Wagtail est un CMS open-source basé sur Django, offrant une interface utilisateur intuitive pour la gestion de contenu et une flexibilité totale pour les développeurs dans la création de sites web personnalisés.
                </p>
            </span>
            <span class="w-1/10">
            <img src="static/img/chevron-right.png" class="mx-auto" alt="chevron right" />
            </span>
        </a> {% endcomment %}
    </div>
{% endblock content %}
