{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block content %}
<div class="border-b border-grey-lighter py-8 lg:py-10">
    <div>
        {% image page.author_image fill-150x150 class="h-150 w-150" %}
    </div>

    <h1 class="pt-4 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl">
        {{ page.title }}
    </h1>

    <p class="pt-4 font-body text-xl font-light text-primary dark:text-white">
      {{ page.summary }}
    </p>

    {% if page.cta_link %}
        <a href="{{ page.cta_link }}" class="mt-12 block bg-secondary px-10 py-4 text-center font-body text-xl font-semibold text-white transition-colors hover:bg-green sm:inline-block sm:text-left sm:text-2xl">
            {{ page.button_text }}
        </a>
    {% endif %}
</div>

<div class="border-b border-grey-lighter py-8 lg:py-10">
    <div class="flex items-center pb-6">
        <img src="{% static 'img/icon-story.png' %}" alt="icon story" />
        <h3 class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white">
            {{ page.my_story_title }}
        </h3>
    </div>
    <div>
        <p class="font-body font-light text-primary dark:text-white">
            {{ page.my_story_content|linebreaksbr }}
        </p>
    </div>
</div>

<div class="py-8 lg:py-10">
    <div class="flex items-center pb-6">
        <img src="{% static 'img/icon-post.png' %}" alt=""/>
        <h3 class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white">
            Blog posts
        </h3>
        <a href="{{ blog_index.url }}" class="flex items-center pl-10 font-body italic text-green transition-colors hover:text-secondary dark:text-green-light dark:hover:text-secondary">
            All posts
            <img src="{% static 'img/long-arrow-right.png' %}" class="ml-3" alt="arrow right"/>
        </a>
    </div>
    <div class="pt-1">
        {% for post in blog_posts %}
            {% include 'includes/blog_preview.html' with post=post %}
        {% endfor %}
    </div>
</div>

<div class="pb-8 lg:pb-10">
    <div class="flex items-center pb-6">
        <img src="{% static 'img/icon-project.png' %}" alt="icon story"/>
        <h3 class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white">
            Mes Projets
        </h3>
        <a href="{{ project_index.url }}" class="flex items-center pl-10 font-body italic text-green transition-colors hover:text-secondary dark:text-green-light dark:hover:text-secondary">
            All projects
            <img src="{% static 'img/long-arrow-right.png' %}" class="ml-3" alt="arrow right"/>
        </a>
    </div>
    <div class="pt-1">
    {% for project in project_posts %}
        {% include 'includes/project_preview.html' with project=project %}
    {% endfor %}
    </div>
</div>

{% endblock content %}
