<div class="border-b border-grey-lighter pt-5 pb-2">
  {% for orderable in post.categories.all %}
    <span class="mb-4 inline-block rounded-full bg-{{ orderable.category.color }}-light px-2 py-1 font-body text-sm text-{{ orderable.category.text_color }}">
      {{ orderable.category.name }}
    </span>
  {% endfor %}

  <a href="{{ post.url }}" class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary">
    {{ post.title }}
  </a>

  <div class="flex items-center pt-2 mb-5">
    <p class="pr-2 font-body font-light text-primary dark:text-sm text-grey font-light">
      <a href="{{ post.url }}">{{ post.first_published_at|date:"d F Y"|title }} // ⏱️{{ post.reading_time_in_minutes }} min</a>
    </p>
  </div>
</div>
