{% load static wagtailcore_tags wagtailimages_tags %}

<section class="section-caroussel" id="caroussel">
    <article class="wrapper">
        <div class="marquee marquee">
            <div class="marquee__group">
                <img src="{% static 'img/dessange.png' %}" alt="dessange logo" class="rounded-full"/>
                <img src="{% static 'img/camille_albane.png' %}" alt="camille albane logo" class="rounded-full"/>
                <img src="{% static 'img/coiffirst.png' %}" alt="coiffirst logo" class="rounded-full"/>
                <img src="{% static 'img/expressions_parfumees.png' %}" alt="expressions parfumees logo" class="rounded-full"/>
            </div>

            <div aria-hidden="true" class="marquee__group">
                <img src="{% static 'img/dessange.png' %}" alt="dessange logo" class="rounded-full"/>
                <img src="{% static 'img/camille_albane.png' %}" alt="camille albane logo" class="rounded-full"/>
                <img src="{% static 'img/coiffirst.png' %}" alt="coiffirst logo" class="rounded-full"/>
                <img src="{% static 'img/expressions_parfumees.png' %}" alt="expressions parfumees logo" class="rounded-full"/>
            </div>
        </div>
    </article>
</section>
