{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block content %}

<div class="pt-8 lg:pt-10">
  <div class="border-b border-grey-lighter pb-8 sm:pb-12">
    {% for orderable in page.categories.all %}
      <span class="mb-5 inline-block rounded-full bg-{{ orderable.category.color }}-light px-2 py-1 font-body text-sm text-{{ orderable.category.text_color }} sm:mb-8">
        {{ orderable.category.name }}
      </span>
    {% endfor %}
    <h2 class="block font-body text-3xl font-semibold leading-tight text-primary dark:text-white sm:text-4xl md:text-5xl">
      {{ page.title }}
    </h2>
    <div class="flex items-center pt-2 sm:pt-4">
      <p class="pr-2 font-body font-light text-primary dark:text-white">
        {{ page.first_published_at|date:"d F Y"|title }} // ⏱️ {{ page.reading_time_in_minutes }} min
      </p>
    </div>
  </div>
  <div class="prose max-w-none border-b border-grey-lighter py-2 dark:prose-dark sm:py-3">
      {% include_block page.body %}
  </div>
</div>
{% endblock content %}
